REVEAL_LLM_PROVIDER=openai
REVEAL_LLM_MODEL=gpt-5.6
REVEAL_OPENAI_API_KEY=

REVEAL_OLLAMA_BASE_URL=http://host.docker.internal:11434
REVEAL_CORPUS_PATH=

REVEAL_ENABLE_POC_REFINEMENT=true
REVEAL_LLM_MAX_RETRIES=2
REVEAL_MAX_POC_CANDIDATES=3
REVEAL_MAX_POC_REFINEMENT_ROUNDS=1